html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid gray;
  z-index: 10;
}

.menu-item {
  border: 1px solid black;
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  margin: 0;
}

.menu-item:hover {
  color: whitesmoke;
  background-color: rgb(26, 24, 24);
  transition: 0.4s;
}

.title-container,
.headline-end {
  text-align: center;
  margin: 5rem auto;
  max-width: 760px;
}

.title-container h1,
.headline-end h1 {
  font-size: 2.6rem;
}

.title-container h2 {
  font-size: 1.4rem;
  color: grey;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.img-slideshow {
  width: 100%;
  height: 400px;
  object-fit: cover;
  animation: fade-in-out 1.5s;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

article {
  max-width: 600px;
}

article ol li {
  line-height: 1.8rem;
}

figcaption {
  font-size: 1.4rem;
  color: gray;
  margin: 2rem 0 3rem 2rem;
}

.user-profile {
  display: flex;
  gap: 2.4rem;
  line-height: 10px;
  align-items: center;
  margin: 0 0 3rem 2rem;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

input,
select {
  width: 320px;
  height: 40px;
}

button {
  padding: 1rem 100px;
  background-color: rgb(26, 24, 24);
  border: none;
  color: white;
  border-radius: 4px;
  margin-top: 1.5rem;
}

.package-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  place-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.package-item {
  display: grid;
  grid-template-areas:
    "package-icon package-title"
    "package-icon package-description";
  width: 360px;
}

.package-icon {
  grid-area: package-icon;
  position: relative;
  top: 13px;
  margin-right: 18px;
}

.package-title {
  grid-area: package-title;
  margin-bottom: 0px;
}

.package-description {
  grid-area: package-description;
}

.section-highlight {
  background-color: rgb(241, 240, 240);
  text-align: center;
  padding: 2rem 0 4rem;
  font-size: 1.5rem;
  margin: 4rem 0;
}

footer {
  text-align: center;
  background-color: rgb(26, 24, 24);
  padding: 2px 10px;
  margin-top: 4rem;
}

footer h3 {
  color: white;
}

footer a,
footer p {
  color: gray;
  text-decoration: none;
  transition: 0.2s;
}

footer a:hover {
  color: whitesmoke;
}

@media (max-width: 960px) {
  .nav-title {
    width: 100%;
    text-align: center;
  }

  .menu-item {
    display: none;
  }

  .title-container h1,
  .headline-end h1 {
    font-size: 2rem;
  }

  .title-container h2 {
    font-size: 1rem;
  }

  .img-slideshow {
    height: 300px;
  }

  .headline-end,
  .title-container {
    padding: 0 1.2rem;
  }
}
